.list_chapters {
  padding: 12px;
  background-color: #1b1a1a;
  border-radius: 8px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
  line-height: 23px;
  &_title {
    color: #fff;
  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
    width: 100%;
    overflow-y: scroll;
    max-height: 300px;
    @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);

    }
  }
}
