.auth_form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &_cover {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/023/192/562/small_2x/sport-car-running-on-the-road-in-future-city-created-with-generative-ai-free-photo.jpg");
    background-repeat: round;
    filter: blur(10px);
  }
  &_container {
    display: block;
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 40px;
    box-shadow: 0px 1px 30px rgb(0 0 0 / 1);
    background: rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    &_input {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;
    }
    &_inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      &_title {
        color: #eee;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
      }
      &_sign_up {
        text-align: center;
        color: #7a7777;
        font-size: 14px;
        font-weight: 500;
        & > a {
          color: #fff;
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

.error {
  font-size: 14px;
  color: rgb(202, 16, 16);
  font-weight: 500;
}
