.sticky_page {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 12px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  gap: 20px;
  @media (max-width: 768px) {
    flex-direction: column;
  }
  &_row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &_icon {
    width: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 0.7;
    }
  }
  &_title {
    color: #fff;
    font-size: 18px;
    max-width: 300px;
    overflow: hidden;
  }
}
