.chapter_item {
  display: block;
  font-weight: 400;
  background: #111;
  padding: 10px 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  &:visited{
    background-color: #000000;
  }
  &_title {
    color: #fff;
    font-size: 14px;
  }
  &_date {
    color: #777777;
    font-size: 13px;
  }
}
